
.navbar {
  background-color: #284b63 !important;
}
.navbar .navbar-brand {
  color: #ecf0f1 !important;
  font-size: 2.5rem;
  font-weight: 150;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #d9d9d9!important;
}
.navbar .navbar-text {
  color: #ecf0f1!important;
}
.navbar .navbar-text a {
  color: #d9d9d9!important;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #d9d9d9!important; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1 !important;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-size: 1.75rem;
  font-weight: 100;
  border-top: 0.1875rem solid #284b63 !important;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,

.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #d9d9d9 !important;
  border-top: 0.1875rem solid #d9d9d9 !important;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #284b63 !important;
  border-color: #3c6e71 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1 !important;
  font-weight: 100;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #d9d9d9 !important;
  background-color: #3c6e71 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #3c6e71 !important;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #d9d9d9 !important;
  background-color: #3c6e71 !important;
}
.navbar .navbar-toggler {
  border-color: #3c6e71 !important;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #3c6e71 !important;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #ecf0f1 !important;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1 !important;
}
.navbar .navbar-link {
  color:#ecf0f1!important;
}
.navbar .navbar-link:hover {
  color: #d9d9d9 !important;
}
/**************************Footer******************/
.footer {
  background-color: #284b63;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1 !important;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d9d9d9 !important;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d9d9d9 !important;
    background-color: #3c6e71 !important;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1 !important;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d9d9d9 !important;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d9d9d9 !important;
    background-color: #3c6e71 !important;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1 !important;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d9d9d9 !important;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d9d9d9 !important;
    background-color: #3c6e71 !important;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1 !important;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d9d9d9 !important;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d9d9d9 !important;
    background-color: #3c6e71 !important;
    
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1 !important;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #d9d9d9 !important;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #d9d9d9;
  background-color: #3c6e71 !important;
}
h1 {
  color: #3c6e71 !important;
  font-size: 2.5rem;
  font-weight: 150;
}
p {
  color: #3c6e71 !important;
  font-size: 2rem;
  font-weight: 150;
}
.card {
width: 20rem
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
.card-text {
  font-size: 1rem;
  color: #3c6e71;
}
.card-body {
  background-color: #d9d9d9;
}
.resume {
  display: flex;
  justify-content: center;
  margin: 2rem; 
}

.resume img {
  border: #284b63;
  border-style: solid;
  border-width: 2px;

}
.resume img:hover {
  transform: scale(1.25);
}